<a href="https://colab.research.google.com/github/twisha-k/Python_notes/blob/main/6_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 6: Python Lists II

### Teacher-Student Activities

In the previous lesson, we learnt two more functions of Python Lists. They are `append()` and `count()`. In this lesson, we will learn Python lists in more detail.

---

#### Activity 1: Multiple Data Types

A Python list can store values of different types. Recall that in the trial class we created 4 different variables to store the attributes of a planet.  

||Mercury|
|-|-|
|Diameter (km)|4879|
|Gravity ($m/s^2$)|3.7|
|Ring|No|


Let's store the name of a planet, its diameter, gravity and whether it has a ring or not in a Python list.

**Q: But before that do you remember the different data-types in python?**

Ans: There are four different data-types. They are:
1. `int` - a numeric value without a digit after the decimal point.
For example: `13, -244` etc.

2. `float` - a numeric value with a digit after the decimal point.
For example: `2.71, -3.14898` etc.

    **Note:** Both the `int` and `float` values can be positive or negative or `0`.

3. `str` (stands for string) - any value enclosed within single (`' '`) or double (`" "`) quotes. For example: `'Windows 10', '15 August 1947'` etc.

4. `bool` (stands for boolean) - either `True` or `False`.

In [ ]:
# Student Action: Create a list which contains "Mercury", its diameter, gravity and whether it has a ring or not.
list1=["Mercury",4879,3.7,False]
print(list1)

['Mercury', 4879, 3.7, False]

---

#### Activity 2: List Length
To see how many items are stored in a list, you can use a function called `len()`.

In [ ]:
# Student Action: Find the number of items stored in the 'planet' list.
len(list1)

4

---

#### Activity 3: List Indexing And The `for` Loop^^^
A list index is similar to your roll number in your class in the school. But here's a catch: The roll number of the first student in your class will be `1`. On the other hand, the roll number of the first item in a Python list is `0`.

For example: In the 'planet' list, the first item is `"Mercury"` so its index is `0`.

To get an item located at each index in a list, just write the list name followed by the square brackets `[]` and inside the brackets, enter the index number.

**Syntax:** `list_name[index_number]`

**Note:** The list indexing concept will be used throughout this course. So practice it as much as you can. It is a very simple concept to learn.

In [ ]:
# Teacher Action: Print the items at each index in the 'planet' list.
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])

Mercury
4879
3.7
False

In [ ]:
list2 = [12,45,"abc",True,False]
list2[3]

True

Imagine that you have a list containing `100` items. Getting each item of that list using this method will not be feasible. In such cases, you can retrieve every item using a `for` loop.

Let's first learn the `for` loop. We will print the first `10` natural numbers using a `for` loop. Once we learn how a `for` loop works, we will retrieve all the items of the `planet` list using the list indexing method and through the `for` loop.

In the `for` loop, we will use a ready-made function called `range()` which generates consecutive natural numbers between two specific numbers.

In [ ]:

#i is an iterator which will run from 0-3
# len(list1) = 4
#i can be given any name
for i in range(len(list1)):
  print(i)
  print("at",i,"position",list1[i])

0
at 0 position Mercury
1
at 1 position 4879
2
at 2 position 3.7
3
at 3 position False

In [ ]:
# Teacher Action: Print the first 10 natural numbers using the 'for' loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In natural language, the above code can be read as *for every number in the range of `1` to `11` and except `11`, print a number.* So, in the range of `1` to `11` and except `11`, there are `10` numbers starting from `1` to `10`. So, all these numbers in this range will get printed one-by-one.

Here, the `range()` function is used to define a range of numbers. It takes two numbers as input; a **starting number** and an **ending number** to define a range. However, the ending number is used just as a stopping point. The ending number is **NOT** included in the range.

**Note:**

1. If you don't give a starting point in the `range()` function, then Python assumes that your starting point is `0`.

2. If you enter `n` as an input to the `range()` function, then it will generate all the numbers starting from `0` till `n - 1`. For e.g., if `n = 5`, then the `range()` function will generate five numbers starting from `0` till `4`.

Now, let's retrieve all the values of the `planet` list using the `for` loop.

In [ ]:
# Teacher Action: Using 'for' loop, print each element of the 'planet' list.
# 1. First, find out how many items are there in the 'planet' list and store it in the variable called num_items.

# 2. Now iterate through each item using the for loop.
# 3. Now, write the print() function with 'i' and 'planet[i]' as inputs.
n = len(list1)
for i in range(n):
  #print(i)
  print("at",i,"position",list1[i])

at 0 position Mercury
at 1 position 4879
at 2 position 3.7
at 3 position False

Here:

- The value of `num_items` is `4` because the length of the `planet` list is `4` as it contains `4` items.

- The `range()` function, takes `4` as input and generates numbers from `0` to `3`. The number `4` is excluded.

- The value of `i` also goes from `0` to `3`. Hence, `planet[i]` goes from `planet[0]` to `planet[3]`. Essentially, the variable `i` stores the values generated by the `range()` function, but only one value at-a-time.

- So, for every value of `i` the `print()` function takes `planet[i]` as input and prints each item contained in the planet list.

There is another way to get all the items from a Python list using a `for` loop.

In [ ]:
# Teacher Action: Demonstrate another way of getting all the items from a list using the 'for' loop.
for i in list1:
  print(i)

Mercury
4879
3.7
False

Here, the variable `i` does not take the numeric value because the `range()` function is not used here. So, the value of `i` goes from the first item of the list till the last item in the list.

The second method will not work if you want to retrieve all the items from a list in the reverse order. Hence, you will have to use the first method.

So, in this case, using the `for` loop with the `range()` function, retrieve all the items of the `planet` list in the reverse order.

In [ ]:
# Student Action: Print every item of the 'planet' in the reverse order, using the 'for' loop.
n=len(list1)
for i in range(n):
  print(list1[n-1-i])

False
3.7
4879
Mercury

In the above code, the value of `n` is `4`. So, the `range()` function generates the numbers `0` to `3`. The value of `i` will also go from `0` to `3`. Thus, `planet[n - 1 - i]` will go from `planet[3 - 0]` to `planet[3 - 3]`.

And this is why we get the items of the `planet` list in the reverse order.

**Negative Indexing:**

You can also use negative indices to get items from a list. They are helpful in retrieving items from a list in the reverse order.

The negative indices begin with `-1` and go till `-n` where `n` is the number of items in a list.

The last item in a list is located at `-1` index. Similarly, the first item in a list is located at `-n` index.

<img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/indexing_in_python_lists.png'>

In [ ]:
# Student Action: Use the negative indices to retrieve all the items from the 'planet' list.
print(list1[-1])

False

In [ ]:
len(list1)

4

In [ ]:


for i in range(1,5):
  print(i)

1
2
3

In [ ]:
# Student Action: Using the 'for' loop and negative indices, retrieve all the items from the 'planet' list in the reverse order.
n=len(list1)
for i in range(1,n+1):
  print(list1[-i])

False
3.7
4879
Mercury

---

#### Activity 4: List Slicing
Suppose that I have a list of `10` cars that I own.

`my_cars = ['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford', 'Rolls Royce', 'Suzuki', 'Bentley', 'Lexus', 'Tesla']`

Let's say, I want to see a list of only first five cars, then I can use the concept of **list slicing**.

To slice a list, write the name of the list followed by square brackets and inside the square brackets, enter the **starting point** (in this case it is zero) followed by a colon sign (`:`) and the **ending point**.

**Syntax:** `list_name[start_index:end_index]`

Note that the item at the `end-index` will not be a part of the sub-list.

In [ ]:
# Teacher Action: Retrieve the items from a list using the slicing method by mentioning both the starting and ending indices.
my_cars = ['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford', 'Rolls Royce', 'Suzuki', 'Bentley', 'Lexus', 'Tesla']
my_cars[1:5]

['Lamborghini', 'Bugatti', 'Porsche', 'Ford']

In `my_cars[0:5]` sub-list, the item at index `5` will not be included in the sub-list. The sub-list will contain the items ranging from indices `0` to `4` from the parent list.

If you do not specify the starting point, then Python assumes that you want to get the items starting from the first item of the list.

In [ ]:
# Teacher Action: Retrieve the first 5 items from the 'my_cars' Python list without mentioning the starting index.
my_cars[0:5]

['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford']

In [ ]:
my_cars[:6]

['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford', 'Rolls Royce']

In [ ]:
my_cars[:]

['Chrysler',
 'Lamborghini',
 'Bugatti',
 'Porsche',
 'Ford',
 'Rolls Royce',
 'Suzuki',
 'Bentley',
 'Lexus',
 'Tesla']

In [ ]:
my_cars[2:]

NameError: ignored

Now, using the list slicing concept, you print all the cars stored in the `my_cars` list starting from `'Lamborghini'` to `'Bentley'`.

In [ ]:
# Student Action: Write a code to see all the cars in the list starting from 'Lamborghini' to 'Bentley'.
my_cars[2:8]

['Bugatti', 'Porsche', 'Ford', 'Rolls Royce', 'Suzuki', 'Bentley']

You can also skip intermediate items while retrieving a few other items from a list.

Suppose you want to retrieve alternate items from a list starting from the first item, then you can use the list slicing method.

Inside the square brackets, after the ending point, you have to include another colon (`:`) sign followed by the number of items to be skipped.

**Syntax:** `list_name[start_index:end_index:num_of_items_to_be_skipped]`

In [ ]:
# Student Action: Retrieve all the alternate items from the 'my_cars' list.
my_cars[2:8:2]

['Bugatti', 'Ford', 'Suzuki']

**Note:** If you are retrieving all the items from a list, then you actually do not have to mention the start and end indices. Just put the colon (`:`) signs and Python will know that you wish to retrieve all the items.

To retrieve all the items from a list in the reverse order, you can also use the list slicing method with a negative index `-1` after the second colon (`:`) sign.

In [ ]:
# Student Action: Retrieve all the items from the 'my_cars' list in the reverse order.
my_cars[::-1]

['Tesla',
 'Lexus',
 'Bentley',
 'Suzuki',
 'Rolls Royce',
 'Ford',
 'Porsche',
 'Bugatti',
 'Lamborghini',
 'Chrysler']

---

#### Activity 5: Index Of An Item

Suppose that you want to find the index of `Ford` in the `my_cars` list, then you can use the `index()` function.

To find an index of an item, write the name of the list followed by the dot `(.)` operator followed by the `index()` function. Inside the `index()` function, enter the item whose index you wish to find.

**Syntax:** `list_name.index(item)`

In [ ]:
# Student Action: Find the index of 'Ford'.
my_cars.index("Ford")

4

So, the item `'Ford'` exists at the `index = 4` in the `my_cars` list.

In [ ]:
# Student Action: Find the index of 'Rolls Royce'.

And the item `'Rolls Royce'` exists at the `index = 5` in the `my_cars` list.

---

#### Activity 6: Removing An Item

Let's say you sold your `'Bentley'` car to your friend. So, you will have to remove it from the list of your cars.

To remove an item from a list, use the `remove()` function followed by the item that you wish to remove.

**Syntax:** `list_name.remove(item)`

In [ ]:
# Student Action: Remove 'Bentley' from the 'my_cars' list.
my_cars.remove("Bentley")

ValueError: ignored

In [ ]:
my_cars

['Chrysler',
 'Lamborghini',
 'Bugatti',
 'Porsche',
 'Ford',
 'Rolls Royce',
 'Suzuki',
 'Lexus',
 'Tesla']

Now, `'Bentley'` is a not part of `my_cars` list anymore.

---

#### Activity 7: The `pop()` Function^

You can also remove an item from a list using another function called `pop()`. It has two behaviours.

**Behaviour I:** If you do not specify any input, it will always remove only the last item from a Python list.

**Syntax:** `list_name.pop()`

In [ ]:
# Student Action: Remove the last item from the 'my_cars' list using the 'pop()' function.
my_cars.pop()

'Suzuki'

In [ ]:
my_cars

['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford', 'Rolls Royce']

**Behaviour II:** If you want to remove an item from a list located at a specific index, then pass the index of that item as an input to the `pop()` function.

**Syntax:** `list_name.pop(item_index)`

In [ ]:
# Student Action: Remove the item at 'index = 3' from the 'my_cars' list using the 'pop()' function.

In [ ]:
my_cars.pop(3)

'Porsche'

---

#### Activity 8: Item Replacement^^

You can replace an existing item in a list with a new item. Suppose I exchanged my `Suzuki` car with a `McLaren` car. So, I need to update `my_cars` list accordingly.

To replace an item, first get the index of that item. Then using the list indexing method, replace the existing item with the new one.

**Syntax:** `list_name[list_name.index('current_item')] = new_item`

In [ ]:
my_cars.index('Suzuki')

6

In [ ]:
my_cars

['Chrysler',
 'Lamborghini',
 'Bugatti',
 'Porsche',
 'Ford',
 'Rolls Royce',
 'Suzuki',
 'Bentley',
 'Lexus',
 'Tesla']

In [ ]:
# Student Action: Replace 'Suzuki' with 'McLaren' in the 'my_cars' list.
my_cars[6] = 'McLaren'

As you can see, the `'Suzuki'` car has been replaced by `'McLaren'` using the list indexing method.

Similarly, you replace `'Lexus'` with `'Aston Martin'` using the list indexing method.

In [ ]:
# Student Action: Replace 'Lexus' with 'Aston Martin' in the my_cars list.

As you can see, the `'Lexus'` car has been replaced by `'Aston Martin'` using the list indexing method.

---