<a href="https://colab.research.google.com/github/twisha-k/Python_notes/blob/main/30_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 30: Introduction to Python Dictionaries

### Teacher-Student Activities

In the previous classes, you have used a CSV file to explore data, clean it and analyse it for the respective problem statements. Today, you will learn how you can create a CSV using Pandas DataFrame. Later you use the same CSV file to do your work either in Google Sheets or Microsoft Excel or in some other spreadsheet processing software. In the process, we will also learn another data-structure called Python dictionaries which becomes an integral data-structure in the domain of data engineering (to acquire the raw data in real-time or non-real-time and make it usable by structuring and organising it) and data analysis.

So far, you learnt about Python lists in detail and Python tuples very briefly. From this class onwards, you will learn about a Python dictionary and its usefulness in terms of data storage.

---

#### Activity 1: Python Dictionary

Let's quickly create a CSV file from a Python dictionary. Then, we will learn it in detail. The CSV file should contain five columns namely `"linear", "squared", "cubed"` and `"power_of_two"`. Each of these columns should contain the corresponding values between 1 to 100 such that

- The `"linear"` column contains the first 100 natural numbers.

- The `"squared"` column contains the squares of the first 100 natural numbers.

- The `"cubed"` column contains the cubes of the first 100 natural numbers.

- The `"power_of_two"` column contains the values which are two raised to the power of the first 100 natural numbers.

In [ ]:
# Student Action: Write the codes as directed below.
new_dict = {
    "linear" :[i for i in range(100)] , # Create a Python list containing the first 100 natural numbers.
    "squared" :[i*i for i in range(100)] , # Create a Python list containing the squares of the first 100 natural numbers.
    "cubed" :[i**3 for i in range(100)] , # Create a Python list containing the cubes of the first 100 natural numbers
    "power_of_two" :[2**i for i in range(100)]  # Create a Python list containing the powers of the two of the first 100 natural numbers
}
new_dict

{'cubed': [0,
  1,
  8,
  27,
  64,
  125,
  216,
  343,
  512,
  729,
  1000,
  1331,
  1728,
  2197,
  2744,
  3375,
  4096,
  4913,
  5832,
  6859,
  8000,
  9261,
  10648,
  12167,
  13824,
  15625,
  17576,
  19683,
  21952,
  24389,
  27000,
  29791,
  32768,
  35937,
  39304,
  42875,
  46656,
  50653,
  54872,
  59319,
  64000,
  68921,
  74088,
  79507,
  85184,
  91125,
  97336,
  103823,
  110592,
  117649,
  125000,
  132651,
  140608,
  148877,
  157464,
  166375,
  175616,
  185193,
  195112,
  205379,
  216000,
  226981,
  238328,
  250047,
  262144,
  274625,
  287496,
  300763,
  314432,
  328509,
  343000,
  357911,
  373248,
  389017,
  405224,
  421875,
  438976,
  456533,
  474552,
  493039,
  512000,
  531441,
  551368,
  571787,
  592704,
  614125,
  636056,
  658503,
  681472,
  704969,
  729000,
  753571,
  778688,
  804357,
  830584,
  857375,
  884736,
  912673,
  941192,
  970299],
 'linear': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99],
 'power_of_two': [1,
  2,
  4,
  8,
  16,
  32,
  64,
  128,
  256,
  512,
  1024,
  2048,
  4096,
  8192,
  16384,
  32768,
  65536,
  131072,
  262144,
  524288,
  1048576,
  2097152,
  4194304,
  8388608,
  16777216,
  33554432,
  67108864,
  134217728,
  268435456,
  536870912,
  1073741824,
  2147483648,
  4294967296,
  8589934592,
  17179869184,
  34359738368,
  68719476736,
  137438953472,
  274877906944,
  549755813888,
  1099511627776,
  2199023255552,
  4398046511104,
  8796093022208,
  17592186044416,
  35184372088832,
  70368744177664,
  140737488355328,
  281474976710656,
  562949953421312,
  1125899906842624,
  2251799813685248,
  4503599627370496,
  9007199254740992,
  18014398509481984,
  36028797018963968,
  72057594037927936,
  144115188075855872,
  288230376151711744,
  576460752303423488,
  1152921504606846976,
  2305843009213693952,
  4611686018427387904,
  9223372036854775808,
  18446744073709551616,
  36893488147419103232,
  73786976294838206464,
  147573952589676412928,
  295147905179352825856,
  590295810358705651712,
  1180591620717411303424,
  2361183241434822606848,
  4722366482869645213696,
  9444732965739290427392,
  18889465931478580854784,
  37778931862957161709568,
  75557863725914323419136,
  151115727451828646838272,
  302231454903657293676544,
  604462909807314587353088,
  1208925819614629174706176,
  2417851639229258349412352,
  4835703278458516698824704,
  9671406556917033397649408,
  19342813113834066795298816,
  38685626227668133590597632,
  77371252455336267181195264,
  154742504910672534362390528,
  309485009821345068724781056,
  618970019642690137449562112,
  1237940039285380274899124224,
  2475880078570760549798248448,
  4951760157141521099596496896,
  9903520314283042199192993792,
  19807040628566084398385987584,
  39614081257132168796771975168,
  79228162514264337593543950336,
  158456325028528675187087900672,
  316912650057057350374175801344,
  633825300114114700748351602688],
 'squared': [0,
  1,
  4,
  9,
  16,
  25,
  36,
  49,
  64,
  81,
  100,
  121,
  144,
  169,
  196,
  225,
  256,
  289,
  324,
  361,
  400,
  441,
  484,
  529,
  576,
  625,
  676,
  729,
  784,
  841,
  900,
  961,
  1024,
  1089,
  1156,
  1225,
  1296,
  1369,
  1444,
  1521,
  1600,
  1681,
  1764,
  1849,
  1936,
  2025,
  2116,
  2209,
  2304,
  2401,
  2500,
  2601,
  2704,
  2809,
  2916,
  3025,
  3136,
  3249,
  3364,
  3481,
  3600,
  3721,
  3844,
  3969,
  4096,
  4225,
  4356,
  4489,
  4624,
  4761,
  4900,
  5041,
  5184,
  5329,
  5476,
  5625,
  5776,
  5929,
  6084,
  6241,
  6400,
  6561,
  6724,
  6889,
  7056,
  7225,
  7396,
  7569,
  7744,
  7921,
  8100,
  8281,
  8464,
  8649,
  8836,
  9025,
  9216,
  9409,
  9604,
  9801]}

---

#### Activity 2: The `from_dict()` Function

Now, let's convert the above dictionary into a Pandas DataFrame using the `from_dict()` function. To apply this function, you have to use the following syntax.

**Syntax:** `pd.DataFrame.from_dict(some_dictionary)`

In [ ]:
# Student Action: Create a Pandas DataFrame using the 'new_dict' dictionary by applying the 'from_dict()' function.
import pandas as pd
new_df=pd.DataFrame.from_dict(new_dict)
new_df

    linear  squared   cubed                    power_of_two
0        0        0       0                               1
1        1        1       1                               2
2        2        4       8                               4
3        3        9      27                               8
4        4       16      64                              16
..     ...      ...     ...                             ...
95      95     9025  857375   39614081257132168796771975168
96      96     9216  884736   79228162514264337593543950336
97      97     9409  912673  158456325028528675187087900672
98      98     9604  941192  316912650057057350374175801344
99      99     9801  970299  633825300114114700748351602688

[100 rows x 4 columns]

As you can see, a new DataFrame is created. It is stored in the `new_df` variable. It has 100 rows having indices `0` to `99`. It also has the four required columns.

**Note:** Unlike a Python list, the dictionary does not store values in the ordered form. It means that you can't retreive an item from a dictionary using indices.

---

#### Activity 3: The `orient` Parameter

In the above DataFrame created from a Python dictionary, you can label `"linear", "squared", "cubed"` and `"power_of_two"` as row indices. Consequently, the values `0` to `99` will become columns. This can be done by passing `'index'` as the value to the `orient` parameter inside the `from_dict()` function. Here's the syntax.

**Syntax:** `pd.DataFrame.from_dict(some_dictionary, orient='index')`

In [ ]:
# Student Action: Create another Pandas DataFrom using the 'new_dict' having "linear", "squared", "cubed" and "power_of_two" as row indices.
new_1_df=pd.DataFrame.from_dict(new_dict,orient='index' )
new_1_df

              0   ...                              99
linear         0  ...                              99
squared        0  ...                            9801
cubed          0  ...                          970299
power_of_two   1  ...  633825300114114700748351602688

[4 rows x 100 columns]

As you can see, a new DataFrame is created. It is stored in the `another_df` variable. It has 4 rows having indices `"linear", "squared", "cubed"` and `"power_of_two"` as desired. It has 100 columns as well.

---

#### Activity 4: Creating A CSV File From A Python Dictionary^

To create a `CSV` file from a Python dictionary, we need to use the following code:

```
from google.colab import files
csv_file = data_frame.to_csv(index=True)

with open('filename.csv', 'w') as f:
  f.write(csv_file)

files.download('filename.csv')
```

where

- `data_frame` is a variable storing a Pandas DataFrame from which a `CSV` file needs to be created.

- `filename.csv` is the name of the required CSV file that needs to be downloaded once created.

Let's create a CSV file from the `new_df` DataFrame and name the file as `data.csv`.

**Note:** After running the code below, a new dialogue box will appear prompting you to save the file in your computer.

In [ ]:
# Student Action: Run the code below.
from google.colab import files
csv_file = new_df.to_csv(index=True) # 'new_df' is the source DataFrame from which the required CSV file is to be created.

with open('data.csv', 'w') as f: # 'data.csv' is the name of the required CSV file.
  f.write(csv_file)
  f.
files.download('data.csv')

SyntaxError: ignored

So, as you can see we have created a CSV file using a Python dictionary. Now, let's learn it in detail.

---

#### Activity 5: Python Dictionary^^^

Similar to a Python list, a Python dictionary is also a data structure, i.e., it stores multiple values in it. **A python dictionary is a collection of key-value pairs** where each key-value pair collectively constitutes an item stored in it.

An example of a key-value pair would be a specification of a smart-phone, as shown in the table below.

|Key         |Value                  |
|------------|-----------------------|
|Front Camera|16 MP                  |
|Battery     |3300 mAh               |
|Processor   |Qualcomm Snapdragon 845|
|Display     |6.28 inches            |
|RAM         |6 GB                   |
|Rear Camera |16 MP + 20 MP          |
|Price (INR) |28990                  |
|Fast Charge |True                   |

Using the example shown in the table here, let's create a dictionary as a collection of key-value pairs.

A dictionary is created using curly brackets (`{}`). A key and its corresponding value are mapped using the colon (`:`) sign and each key-value pair is separated by a comma.

In [ ]:
import pandas as pd
dict1 = {"helo":"val1",
         "key2":1212,
         "key3":321.12,
         "key4":True}
dict1

{'helo': 'val1', 'key2': 1212, 'key3': 321.12, 'key4': True}

In [ ]:
#dictionaries are unordered
#dictionaries are having key value pairs
#we can index it using keys..there are no index numbers like 0,1,2,3

In [ ]:
# Teacher Action: Create a dictionary as a collection of key-value pairs containing the items shown in the table above.
dict2={"Front Camera	":"16MP",
       "Battery":"3300 mAh",
       "Processor":"Qualcomm Snapdragon 845",
       "Display":"6.28 inches",
       "RAM":"6 GB",
       "Rear Camera":"16 MP + 20 MP",
       "Price (INR)":28990,
       "Fast Charge":True}
dict2

{'Battery': '3300 mAh',
 'Display': '6.28 inches',
 'Fast Charge': True,
 'Front Camera\t': '16MP',
 'Price (INR)': 28990,
 'Processor': 'Qualcomm Snapdragon 845',
 'RAM': '6 GB',
 'Rear Camera': '16 MP + 20 MP'}

In the above code, we have created a Python dictionary and stored it in `my_dict` variable. The dictionary contains 8 key-value pairs separated by a comma. The keys are of `string` data-type and the values are a mix of `string`, `int` and `bool` data types.

**Note:** Even though you store an item (a key-value pair) in a specific order, a Python dictionary disregards the order. Hence, unlike a Python list, a Python dictionary is a data structure containing an **unordered** collection of items.

If you print the dictionary, again and again, you will notice that the orders of the items keep on changing.

---

#### Activity 6: Empty Python Dictionary

You can also create an empty dictionary$—$a dictionary which does not have any key-value pair$—$by simply writing curly brackets `{}` only.

In [ ]:
# Student Action: Create an empty dictionary.
empty_dict={}
empty_dict

{}

In the above code, we have created an empty Python dictionary and stored it in the `empty_dict` variable.

To verify whether a data structure is a Python dictionary  or not, you can use the `type()` function.

In [ ]:
# Student Action: Verify that the data structure stored in the 'empty_dict' variable is a Python dictionary.
type(empty_dict)

dict

The `type()` function returns `dict` as an output which verifies that the value stored in the `empty_dict` variable is indeed a dictionary.

Let's pause here. In the next class, we will learn more about Python dictionaries.

---

#### Activity 7: Important Points About Python Dictionary^^

Here are some of the important points about a Python dictionary:

1. A key in a Python dictionary can be a `str` (string), `int` (integer), `float` (a floating-point number) and a `bool` (boolean) data-type. Additionally, it can also be a tuple. In general, any immutable Python object can be a key in a Python dictionary. The term **immutable** means **unchangeable**.

2. Any Python object (whether mutable or immutable) or a data-type can be a value in a Python dictionary.

Let's go through a few examples for keys and values in a Python dictionary.

**Booleans as keys**

In [ ]:
# Student Action: Create a Python dictionary whose keys are 'True' and 'False'. You can assign them any values.
dict3={True:"yes",
       False:"no"}
dict3

{False: 'no', True: 'yes'}

**Float-point numbers as keys**

In [ ]:
# Student Action: Create a Python dictionary whose keys are some floating-point numbers. You can assign them any values.
dict4={3.14:"pie",
       2.71:"E"}
dict4

{2.71: 'E', 3.14: 'pie'}

**Integers as keys**

In [ ]:
# Student Action: Create a Python dictionary whose keys are integer values. You can assign them any values.
dict5={25:"square of 5",
       9:"square of 3"}
dict5

{9: 'square of 3', 25: 'square of 5'}

**Tuples as keys**

In [ ]:
# Student Action: Create a Python dictionary whose keys are some tuples. You can assign them any values.
dict6={(1,2,3):"first three whole numbers",
       (1,3,5):"first three odd numbers"}
dict6

{(1, 2, 3): 'first three whole numbers', (1, 3, 5): 'first three odd numbers'}

**Lists as values**

In [ ]:
# Student Action: Create a Python dictionary whose values are some lists.
dict7={"three whole numbers":[1,2,3],
       "three even numbers":[2,4,6]}
dict7

{'three even numbers': [2, 4, 6], 'three whole numbers': [1, 2, 3]}

**Dictionaries as values**

In [ ]:
# Student Action: Create a Python dictionary whose values are some other dictionaries.
dict8={"product":{"product1":"black",
                  "product2":"red"},"specification":dict2}
dict8

{'product': {'product1': 'black', 'product2': 'red'},
 'specification': {'Battery': '3300 mAh',
  'Display': '6.28 inches',
  'Fast Charge': True,
  'Front Camera\t': '16MP',
  'Price (INR)': 28990,
  'Processor': 'Qualcomm Snapdragon 845',
  'RAM': '6 GB',
  'Rear Camera': '16 MP + 20 MP'}}

**Tuples as values**

You will learn about tuples in detail in the upcoming classes.

In [ ]:
# Student Action: Create a Python dictionary whose values are tuples.
dict9={"square of 2":(4,2),
       "square of 3":(9,3)}
dict9

**Note:** a key in a dictionary must be unique. In other words, two items in a dictionary cannot have the same key. If a dictionary contains two items having the same key, then the item at the higher index will be accepted by the dictionary and the item at the lower index will be discarded.

In [ ]:
# Student Action: Create a dictionary having two identical keys but different values.
dict10={"colour":"red",
        "colour":"yellow"}
dict10

{'colour': 'yellow'}

As you can see, the latest value for a key overrides its previous value.

**Note:** Two different keys in a dictionary can have the same value.

In [ ]:
# Student Action: Create a dictionary having two identical values but different keys.
dict11={"red":"colour",
        "black":"colour"}
dict11

{'black': 'colour', 'red': 'colour'}

Lastly, to convert the lists returned by the `keys(), values()` & `items()` function to conventional Python lists, you can apply the `list()` function on top of them.

In [ ]:
# Student Action: Apply the 'list()' functions on top of the lists returned by the 'keys()', 'values()' & 'items()'. Print them as well.
print(dict2.keys())
print(dict2.values())
print(dict2.items())

dict_keys(['Front Camera\t', 'Battery', 'Processor', 'Display', 'RAM', 'Rear Camera', 'Price (INR)', 'Fast Charge'])
dict_values(['16MP', '3300 mAh', 'Qualcomm Snapdragon 845', '6.28 inches', '6 GB', '16 MP + 20 MP', 28990, True])
dict_items([('Front Camera\t', '16MP'), ('Battery', '3300 mAh'), ('Processor', 'Qualcomm Snapdragon 845'), ('Display', '6.28 inches'), ('RAM', '6 GB'), ('Rear Camera', '16 MP + 20 MP'), ('Price (INR)', 28990), ('Fast Charge', True)])

---